#portfolioModal8.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-bs-dismiss='modal')
                img(src='assets/img/close-icon.svg', alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            // Project details
                            h2.text-uppercase Tessa Campbell
                            //p.item-intro.text-muted [Say something special]
                            #carouselExampleControls8.carousel.slide(data-bs-ride='carousel')
                                .carousel-inner
                                    .carousel-item.active
                                        img.d-block.w-100(src='assets/img/portfolio/tessa/tessa.jpg' alt='...')
                                    //.carousel-item
                                    //    img.d-block.w-100(src='assets/img/portfolio/tessa/tessa2.jpg' alt='...')
                                    //.carousel-item
                                    //    img.d-block.w-100(src='assets/img/portfolio/tessa/tessa7.jpg' alt='...')
                                    //.carousel-item
                                    //    img.d-block.w-100(src='assets/img/portfolio/tessa/tessa3.jpg' alt='...')
                                    //.carousel-item
                                    //    img.d-block.w-100(src='assets/img/portfolio/tessa/tessa6.jpg' alt='...')
                                    //.carousel-item
                                    //    img.d-block.w-100(src='assets/img/portfolio/tessa/tessa4.jpg' alt='...')
                                    //.carousel-item
                                    //    img.d-block.w-100(src='assets/img/portfolio/tessa/tessa5.jpg' alt='...')
                                button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControls8' data-bs-slide='prev')
                                    span.carousel-control-prev-icon(aria-hidden='true')
                                    span.visually-hidden Previous
                                button.carousel-control-next(type='button' data-bs-target='#carouselExampleControls6' data-bs-slide='next')
                                    span.carousel-control-next-icon(aria-hidden='true')
                                    span.visually-hidden Next

                            //img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/tessa.jpg', alt='Tessa Campbell')
                            ul.list-inline
                                li
                                    strong Name:
                                    | Tessa Campbell
                                li
                                    strong Age:
                                    | 26
                                li
                                    strong Hometown:
                                    | West Vancouver, BC
                                li
                                    strong Stance:
                                    | Goofy
                                li
                                    strong Sponsors:
                                    | Landyachtz, TSG, Tality Wellness, Team Irene
                            p Tessa is pretty much the human version of a golden retriever. Always a little too hyped and happy to be here!
                            | She grew up in Vancouver on the North Shore, spending her summers in Pender Harbour.
                            | Although both of those locations have a booming downhill scene, skateboarding was not her first love.
                            | Growing up she did a wide plethora of sports, many of them on boards, just not on the pavement... Which is why there is no surprise when she stepped on a skateboard and was completely obsessed.
                            | It was in Pender Harbour where downhill skateboard group, Team Irene, showed her how to bomb hills. The speed of downhill skateboarding and the exhilaration of racing got her hooked. She is very excited to compete in the upcoming World Skate Games as a Canadian athlete. Her goal, aside from winning, is to inspire non-traditional skateboarders and bring as many people into the sport as she can
                            p
                            a.btn.btn-dark.btn-social.mx-2(href='https://www.instagram.com/tessyleesoup/', aria-label='Tessa Campbell Instagram Profile')
                                i.fab.fa-instagram
                            a.btn.btn-dark.btn-social.mx-2(href='https://www.youtube.com/watch?v=2jCav8PNkpk&feature=youtu.be', aria-label='Tessa Campbell Youtube')
                                i.fab.fa-youtube
                            //a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Tessa CampbellLinkedIn Profile')
                            //    i.fab.fa-linkedin-in
                            p
                            button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss='modal', type='button')
                                i.fas.fa-xmark.me-1
                                | Close
