// Portfolio item 1 modal popup
#portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-bs-dismiss='modal')
                img(src='assets/img/close-icon.svg', alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            // Project details
                            h2.text-uppercase Cam Brickenden
                            //p.item-intro.text-muted [Say something special]
                            #carouselExampleControls6.carousel.slide(data-bs-ride='carousel')
                                .carousel-inner
                                    .carousel-item.active
                                        img.d-block.w-100(src='assets/img/portfolio/cam/cam.jpg' alt='...')
                                    //.carousel-item
                                    //    img.d-block.w-100(src='assets/img/portfolio/[cam something].jpeg' alt='...')
                                button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControls6' data-bs-slide='prev')
                                    span.carousel-control-prev-icon(aria-hidden='true')
                                    span.visually-hidden Previous
                                button.carousel-control-next(type='button' data-bs-target='#carouselExampleControls6' data-bs-slide='next')
                                    span.carousel-control-next-icon(aria-hidden='true')
                                    span.visually-hidden Next

                            //img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/cam.jpg', alt='Cam Brickenden')
                            ul.list-inline
                                li
                                    strong Name:
                                    | Cam Brickenden
                                li
                                    strong Age:
                                    | 32
                                li
                                    strong Hometown:
                                    | Toronto, ON
                                li
                                    strong Stance:
                                    | Regular
                                li
                                    strong Sponsors:
                                    | Madrid Skateboards, Venom Skate, Switchback Longboards
                            p Rider Bio TBA.
                            a.btn.btn-dark.btn-social.mx-2(href='https://www.instagram.com/cam.brick/', aria-label='Cam Brickenden Instagram Profile')
                                i.fab.fa-instagram
                            a.btn.btn-dark.btn-social.mx-2(href='https://www.youtube.com/user/Brick09/', aria-label='Cam Brickenden Youtube')
                                i.fab.fa-youtube
                            //a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Cam Brickenden LinkedIn Profile')
                            //    i.fab.fa-linkedin-in
                            p
                            button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss='modal', type='button')
                                i.fas.fa-xmark.me-1
                                | Close
