// Portfolio item 1 modal popup
#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-bs-dismiss='modal')
                img(src='assets/img/close-icon.svg', alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            // Project details
                            h2.text-uppercase Dane Hanna
                            //p.item-intro.text-muted [Say something special]
                            #carouselExampleControls.carousel.slide(data-bs-ride='carousel')
                                .carousel-inner
                                    .carousel-item.active
                                        img.d-block.w-100(src='assets/img/portfolio/dane/dane2.jpg' alt='...')
                                    .carousel-item
                                        img.d-block.w-100(src='assets/img/portfolio/dane/dane4.jpg' alt='...')
                                    .carousel-item
                                        img.d-block.w-100(src='assets/img/portfolio/dane/dane5.jpg' alt='...')
                                    .carousel-item
                                        img.d-block.w-100(src='assets/img/portfolio/dane/dane3.jpg' alt='...')
                                    .carousel-item
                                        img.d-block.w-100(src='assets/img/portfolio/dane/dane.jpg' alt='...')
                                    .carousel-item
                                        img.d-block.w-100(src='assets/img/portfolio/dane/dane-win-wrg.jpg' alt='...')
                                button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='prev')
                                    span.carousel-control-prev-icon(aria-hidden='true')
                                    span.visually-hidden Previous
                                button.carousel-control-next(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='next')
                                    span.carousel-control-next-icon(aria-hidden='true')
                                    span.visually-hidden Next

                            //img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/dane2.jpg', alt='Dane Hanna')
                            ul.list-inline
                                li
                                    strong Name:
                                    | 'Danger' Dane Hanna
                                li
                                    strong Age:
                                    | 24
                                li
                                    strong Hometown:
                                    | Pender Harbour, BC
                                li
                                    strong Stance:
                                    | Regular
                                li
                                    strong Sponsors:
                                    | Landyachtz, Dont Trip Skateboards, Venom Skate, Cariboo Brewing, Rogers Bros DH, Team Irene
                            p Born and raised in Pender Harbour, British Columbia, Dane Hanna made his international debut in 2019 and soon became a household name in the world of downhill skateboarding. Holder of the <a href="https://www.coastreporter.net/local-sports/dane-hanna-wins-world-roller-games-3412232"> World Champion </a> title, Hanna won the previous WRG in 2019, and was crowned the International Downhill Federations <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vS6bgJCDT63DxPgt8LucHBD-iZAtXiJCGE-q_Yrp5t2X61VUIwhcYcQmjnEJnffnhO1so2O5lX2aES2/pubhtml?gid=2046328549&single=true"> North American Champion </a> the same year. Having already won one world championship, Dane is eager to defend his title at the 2022 World Roller Games, and once again bring home the gold for Canada.
                            | Growing up in Pender Harbour, home to <a href="http://www.coastlongboarding.com/dangerbay/">Danger Bay</a>-- the world's first and longest-running downhill skateboarding race, Dane began his athletic career with <a href="https://www.instagram.com/team.irene.dh/">Team Irene </a> at the age of 10. Certainly, this contributed to Dane becoming one of the world's fastest downhill skateboarders, and a three-time Danger Bay champion. That may be why he's called Danger Dane, or it may be something else.
                            p
                            a.btn.btn-dark.btn-social.mx-2(href='https://www.instagram.com/danger_dane69/', aria-label='Dane Hanna Instagram Profile')
                                i.fab.fa-instagram
                            a.btn.btn-dark.btn-social.mx-2(href='https://www.youtube.com/watch?v=c7PHuwKhXhE', aria-label='Dane Hanna 2019 WRG Win')
                                i.fab.fa-youtube
                            //a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Dane Hanna LinkedIn Profile')
                            //    i.fab.fa-linkedin-in
                            p
                            button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss='modal', type='button')
                                i.fas.fa-xmark.me-1
                                | Close
