#portfolioModal11.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-bs-dismiss='modal')
                img(src='assets/img/close-icon.svg', alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            // Project details
                            h2.text-uppercase Diane Hiebert
                            //p.item-intro.text-muted [Say something special]
                            #carouselExampleControls11.carousel.slide(data-bs-ride='carousel')
                                .carousel-inner
                                    .carousel-item.active
                                        img.d-block.w-100(src='assets/img/portfolio/diane/diane5.jpg' alt='...')
                                    .carousel-item
                                        img.d-block.w-100(src='assets/img/portfolio/diane/diane1.jpg' alt='...')
                                    .carousel-item
                                        img.d-block.w-100(src='assets/img/portfolio/diane/diane2.jpg' alt='...')
                                    .carousel-item
                                        img.d-block.w-100(src='assets/img/portfolio/diane/diane3.jpg' alt='...')
                                    .carousel-item
                                        img.d-block.w-100(src='assets/img/portfolio/diane/diane4.jpg' alt='...')
                                    .carousel-item
                                        img.d-block.w-100(src='assets/img/portfolio/diane/diane-bio.jpg' alt='...')
                                    .carousel-item
                                        img.d-block.w-100(src='assets/img/portfolio/diane/diane6.jpg' alt='...')
                                    .carousel-item
                                        img.d-block.w-100(src='assets/img/portfolio/diane/diane7.jpg' alt='...')
                                    .carousel-item
                                        img.d-block.w-100(src='assets/img/portfolio/diane/diane8.jpg' alt='...')
                                    .carousel-item
                                        img.d-block.w-100(src='assets/img/portfolio/diane/diane9.jpg' alt='...')
                                    .carousel-item
                                        img.d-block.w-100(src='assets/img/portfolio/diane/diane10.jpg' alt='...')
                                button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControls11' data-bs-slide='prev')
                                    span.carousel-control-prev-icon(aria-hidden='true')
                                    span.visually-hidden Previous
                                button.carousel-control-next(type='button' data-bs-target='#carouselExampleControls11' data-bs-slide='next')
                                    span.carousel-control-next-icon(aria-hidden='true')
                                    span.visually-hidden Next

                            //img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/diane-knox.jpg', alt='Diane Hiebert')
                            ul.list-inline
                                li
                                    strong Name:
                                    | 'Dizzy' Diane Hiebert
                                li
                                    strong Age:
                                    | 32
                                li
                                    strong Hometown:
                                    | Abbotsford, BC
                                li
                                    strong Stance:
                                    | Regular
                                li
                                    strong Sponsors:
                                    | Rayne Longboards, NoBull DH, Vicious Griptape, Paris Truc, Cloudride Wheels, Longboard Girls Crew Canada, Yardwaste
                            p I wanted to be a professional snowboarder and looked for something to help me train in the off-season that was similar in style. Then I found longboarding through some old friends and saw my city of Abbotsford B.C. in a whole new light.
                            | Now 11 years later of blood, sweat, tears, and many kilometers under my feet; I'm competing in Argentina 🇦🇷 to represent Canada 🇨🇦 for a second time. First time was in Barcelona, Spain 🇪🇸 for the World Roller Games in 2019. It's a true honor to be in this position again, and I'm excited to show the world what I got!
                            p Thanks to everyone who is supporting me behind the scenes in this crazy journey. You the real MVP ❤️ and thank you to anyone yet to support! We could really use it! 🙏
                            p
                            a.btn.btn-dark.btn-social.mx-2(href='https://www.instagram.com/di_zzy_j/', aria-label='Diane Hiebert Instagram Profile')
                                i.fab.fa-instagram
                            a.btn.btn-dark.btn-social.mx-2(href='https://www.youtube.com/watch?v=P6uHN5q_lJ4', aria-label='Diane Hiebert Youtube')
                                i.fab.fa-youtube
                            //a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Diane Hiebert LinkedIn Profile')
                            //    i.fab.fa-linkedin-in
                            p
                            button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss='modal', type='button')
                                i.fas.fa-xmark.me-1
                                | Close
