//
// Colors
//

$canada-red: #bd0c0c;
$canada-white: #ffffff;
$grey: 	#e3e4e6;

// Override Bootstrap color variables

$yellow: #ffc800;

// Override Bootstrap state colors variables

$primary: $canada-red;

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;
